@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-shantell bg-background;
  }
}

.custom-day-picker {
  background-color: white;
  padding: 30px 10px 40px;
}

.datepicker-container {
  background: #752f62;
  border-radius: 15px;
  height: auto;
  width: fit-content;
  display: flex;
  padding: 20px 25px 26px;
  margin: 25px auto;
  box-sizing: border-box;
  font-weight: 400;
  font-family: 'Poppins';
}

.custom-bg {
  @apply h-screen bg-cover bg-center;
  background-image: url('https://res.cloudinary.com/dspxn4ees/image/upload/v1738147201/calendar-background-image.jpg');
  padding-top: 25px;
}

.datepicker-container h1,
.datepicker-container .buttons-container {
  font-family: Shantell Sans, sans-serif;
}
.datepicker-container .rdp-day_button {
  color: black;
}
.datepicker-container .rdp-range_start .rdp-day_button,
.datepicker-container .rdp-range_end .rdp-day_button {
  background-color: #752f62;
  font-weight: 400;
  font-family: 'Poppins';
  border: none;
  width: 3rem;
  height: 3rem;
}

.datepicker-container .rdp-range_middle .rdp-day_button {
  font-weight: 400;
  font-family: 'Poppins';
}

.datepicker-container .custom-day-picker .rdp-chevron {
  fill: #752f62;
}

.datepicker-container .custom-day-picker .rdp-weekday {
  color: gray;
}

.datepicker-container .custom-day-picker .rdp-month_caption {
  padding-left: 20px;
}

.datepicker-container .custom-day-picker table tr,
.datepicker-container .custom-day-picker table td {
  width: 4rem;
  height: 3rem;
}
.datepicker-container .custom-day-picker table td {
  padding-left: 10px;
  font-size: 14px;
}

.datepicker-container .custom-day-picker table .rdp-weekdays th {
  width: 3rem;
  height: 3rem;
}

.days-off-container button {
  font-weight: 400;
  font-family: Shantell Sans, sans-serif;
  width: fit-content;
}

.days-off-text {
  font-family: Shantell Sans, sans-serif;
}

.datepicker-container .DayPicker-Day--dayoffbg-highlight .rdp-day_button {
  position: relative;
  background: repeating-linear-gradient(
    -45deg,
    #742f61,
    #742f61 5px,
    #e5e5f7 5px,
    #e5e5f7 12px
  );
  color: white;
  height: 3rem;
  width: 3.3rem;
  /* text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6); */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  z-index: 0;
}

.datepicker-container
  .DayPicker-Day--dayoffbg-highlight
  .rdp-day_button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2rem;
  height: 2rem;
  background-color: #1f1c1cbd;
  transform: translate(-50%, -50%);
  z-index: -1;
}

@media not all and (min-width: 640px) {
  .datepicker-container .custom-day-picker table td {
    padding-left: 0;
  }
  .datepicker-container {
    padding: 14px 0px 26px;
  }
  .datepicker-container .mt-2 {
    margin-top: 0;
  }

  .custom-bg {
    padding-top: 5px;
  }
}
