body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: whitesmoke;
}

h2 {
  color: #000000;
}

form {
  box-sizing: border-box;
  padding: 30px;
}

label {
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  font-variant: all-small-caps;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.employees-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: auto;
  flex: 1 0 0;
  align-content: space-around;
  justify-content: space-evenly;
  justify-items: center;
  gap: 5%;
  flex-wrap: wrap;
  flex-direction: row;
}

.form-container {
  max-width: 35rem;
  margin: 0 auto;
  padding: 25px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: whitesmoke;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.form-container__title {
  text-align: center;
  margin-bottom: 20px;
}

.form-container__input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: 900;
}

.form-container__button {
  width: 100%;
  padding: 10px;
  color: #100f0f;
  border: 2px solid #00da90;
  border-radius: 4px;
  cursor: pointer;
  margin: 15px auto;
}

#submitButton {
  background: linear-gradient(to bottom right, #1d9a70, #00da90);
}

.form-container__button:hover {
  color: white;
  background-color: #00da90;
}

.form-container__response {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

/* Employee  */
.employee-container {
  background-color: #f8f9fa;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  width: auto;
  max-width: 20rem;
  min-width: 20rem;
}

.employee-container h2 {
  font-size: 22px;
  color: #23272a;
  font-weight: 700;
  margin-bottom: 10px;
  width: auto;
  max-width: fit-content;
  text-align: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
}

.main-diet {
  font-size: 22px;
  color: #ffffff;
  margin-bottom: 10px;
  background: #36cc74;
  border-radius: 15px;
  height: auto;
  line-height: 1.1;
  padding: 15px;
  width: auto;
}

.employee-container h3 {
  font-size: 18px;
  color: #007bff;
  margin-top: 15px;
}

/* Allergies - Dietary Restrictions) */
.employee-container ul {
  list-style-type: none;
  padding-left: 0;
}

.employee-container li {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px 12px;
  margin: 5px 0;
  border-radius: 4px;
  font-size: 16px;
}

.employee-index {
  font-weight: 900;
  border: 5px solid #292840;
  outline: 5px solid #3dcc77;
  width: max-content;
  padding: 10px;
  box-sizing: border-box;
  color: whitesmoke;
  background-color: #23272a;
  height: 40px;
  outline-style: dotted;
  line-height: 10px;
}

.employee-id {
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  font-variant: all-small-caps;
}

.employee-container li:hover {
  background-color: #e9ecef;
}

.allergies-container {
  margin-top: 10px;
}

.allergies-container h3 {
  color: #f4cf4b;
}

.dietary-restrictions-container {
  margin-top: 10px;
}

.dietary-restrictions-container h3 {
  color: #8c1cf9;
}
